*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  text-decoration: none;
}

button:hover {
  background-color: whitesmoke;
  box-shadow: blue;
  text-decoration: none;
  color: black;
}

.button:active {
  background-color: black;
  color: white;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding-left: 200px;
  margin-bottom: -10px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li input[type="checkbox"] {
  margin-right: 10px;
}


.delete-btn {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

.delete-btn:hover {
  background-color: #bd2130;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}


.task-item .task-content.completed {
  text-decoration: line-through;
  color: #999;
}